<%- contentFor('body') %>

<table border="1px" class="table">
            <thead>
                <tr>
                    <th>#id</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Valor/Hora</th>
                    <th>Fale agora no: </th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td><%= aluno._id %></td>
                    <td><%= aluno.name %></td>
                    <td><%= aluno.telefone %></td>
                    <td><%= aluno.valor_hora %></td>
                    <td>
                        <a href="https://api.whatsapp.com/send?phone=<%= aluno.telefone %>&text=Oi%2C%20tudo%20bom%3F"><i class="fa fa-whatsapp"></i></a>
                    </td>
                </tr>
            </tbody>
</table>
